{% extends '_base.html' %}
{% block title %}Change Password{% endblock title %}
{% block content %}

<h1>Change Password for {{user}}</h1>

<div class="well well-white">
<dl class="dl-horizontal">

 	<form action="." method="POST" class="form-horizontal">
	{% if info = 1 %}
		<div class="alert alert-success alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  Your profile has been updated successfully!
		</div>
	{% endif %}
		{% csrf_token %}
		{{ form.non_field_errors }}
		
		<div class="form-group fieldWrapper">
			<label for="id_username" class="col-sm-5 control-label">Current password:</label>
			<div class="col-sm-5">
				{{ form.current }}
				{{ form.current.errors }}
			</div>
		</div>
		
		<div class="form-group fieldWrapper">
			<label for="id_password" class="col-sm-5 control-label">New password:</label>
			<div class="col-sm-5">
				{{ form.password }}
				{{ form.password.errors }}
			</div>
		</div>
		
		<div class="form-group fieldWrapper">
			<label for="id_password2" class="col-sm-5 control-label">Rrepear new password:</label>
			<div class="col-sm-4">
				{{ form.password2 }}
				{{ form.password2.errors }}
			</div>
		</div>
		<dd>
			<button class="btn btn-primary btn-lg">Change</button>
			<a class="btn btn-primary btn-lg" href="{% url 'view_myprofile' %}">Cancel</a>
		</dd>
	</form>
	
</dl>
</div>


{% endblock content %}

{% block extra-bottom %}
<script>
$( function() {
	$('#reset_button').click(function() {
		$('#id_username').val("{{obj.username}}");
		$('#id_first_name').val("{{obj.first_name}}");
		$('#id_last_name').val("{{obj.last_name}}");
		$('#id_email').val("{{obj.email}}");

	});
});
</script>
{% endblock %}