{% extends '_base.html' %}
{% block title %}Delete: {{obj}}{% endblock title %}
{% block content %}

<h1>Delete Reminder</h1>

	{% if info = 1 %}
	<div class="well well-white" style="margin-bottom:10px;">
		<p><a href="{% url 'view_reminder' id=obj.id %}">{{obj}}</a> 
		Reminder can't be deleted because the following items are associated with it.</p>
		<p>To delete <a href="{% url 'view_reminder' id=obj.id %}">{{obj}}</a>. The Reminder(s) below has(have) to be deleted or dissociated first.</p>
		{% for reminder in reminders %}
			<p><a class="btn btn-info" href="{% url 'view_reminder' id=reminder.id %}">Reminder: {{reminder}}</a></p>
		{% endfor %}
	</div>
	<a class="btn btn-primary" href="{% url 'view_reminder' id=obj.id %}">Cancel</a>
	{% else %}
	<div class="well well-white" style="margin-bottom:10px;">
		<p><b>Are you sure you want to delete the Reminder below for ever?</b></p>
		<a class="btn btn-info" title="Edit" href="{% url 'view_reminderedit' id=obj.id %}">
			<i class="glyphicon glyphicon-pencil icon-white"></i>
		</a>
		<a class="btn btn-primary" title="{{obj}}" href="{% url 'view_reminder' id=obj.id %}">{{obj|truncatechars:80}}</a>
	</div>
		<form action="." method="POST">
		{% csrf_token %}
			<button class="btn btn-primary" type="submit"/>Yes delete</button>
			<a class="btn btn-primary" href="{% url 'view_reminder' id=obj.id %}">Cancel</a>
		</form>
	{% endif %}

{% endblock content %}