{% extends '_base.html' %}
{% block title %}Skills Report{% endblock title %}
{% block content %}

<h1 class="report"><i class="glyphicon glyphicon-wrench"></i> Skills
<span class="label label-default" style="display:inline;vertical-align: text-top;">{{ counter }}</span>
</h1>
<p style="margin-top:0px;text-align:center;">Prosoft's Talent Management System</p>


{% if objs|length  > 0 %}
	<table class="table table-hover table-list table-white" style="margin-bottom:0px;">
	<thead>
	<tr>
		<th width="20%" style="text-align:left;">Name</th>
		<th width="80%" style="text-align:left;">Description</th>
	</tr>
	</thead>
	<tbody>
	{% for obj in objs %}
	<tr>
		<td style="text-align:left;vertical-align:top;">
			{{obj.name|truncatechars:26}}
		</td>
		<td style="text-align:left;">
			{% if obj.description %}
				{{ obj.description|urlizetrunc:65|escape|linebreaks|truncatewords:30 }}
			{% else %}
				<i>No description</i>
			{% endif %}
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
{% else %}
	<p>There are no skill list in the system</p>
{% endif %}

{% endblock content %}