{% extends '_base.html' %}
{% block title %}New Activity{% endblock title %}
{% block content %}

<h1><i class="glyphicon glyphicon-earphone"></i> New Activity</h1>

<div class="well"> 

	<form action="." method="POST" class="form-horizontal">
		{% csrf_token %}
		{{ form.non_field_errors }}
		
		<div class="form-group fieldWrapper">
			<label class="col-sm-3 control-label">Date Time:</label>
			<label class="col-sm-9 control-label" style="text-align: left;">
			  {% now "jS F Y" %} (New)
			</label>
		</div>
		<div class="form-group fieldWrapper">
			<label class="col-sm-3 control-label">Recruiter:</label>
			<label class="col-sm-9 control-label" style="text-align: left;">
			  {{user}}
			</label>
		</div>	
		
		<div class="form-group fieldWrapper">
			<label for="id_application" class="col-sm-3 control-label">Application:</label>
			<div class="col-sm-9">
				{{ form.application }}
				{{ form.application.errors }}
			</div>
		</div>
		
		<div class="form-group fieldWrapper">
			<label for="id_type" class="col-sm-3 control-label">Type:</label>
			<div class="col-sm-9">
				{{ form.type }}
				{{ form.type.errors }}
			</div>
		</div>
		
		<div class="form-group fieldWrapper">
			<label for="id_notes" class="col-sm-3 control-label">Notes:</label>
			<div class="col-sm-9">
				{{ form.notes }}
				{{ form.notes.errors }}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-9 col-sm-offset-3">
				<button id="save_button" class="btn  btn-primary btn-lg">Save</button> 
				{% if obj %}
					<a class="btn btn-primary btn-lg" href="{% url 'view_application' id=obj.id %}">Cancel</a>
				{% else %}
					<a class="btn btn-primary btn-lg" href="{% url 'view_main' %}">Cancel</a>
				{% endif %}
			</div>
		</div>
	</form>
</div>
<br>

{### ACTIVITIES HEAD ###}
<div class="row">
	<div class="col-xs-12">
		<div class="dropdown" style="display:inline;">
			<button style="vertical-align:bottom;" class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="glyphicon glyphicon-briefcase"></i> <b>Recruiter activities</b> <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="{% url 'view_activitynew' %}"><i class="fa fa-plus" aria-hidden="true"></i> New Activity</a></li>
				<li><a href="{% url 'view_activities' %}"><i class="fa fa-th-large" aria-hidden="true"></i> See all (Even not related)</a></li>
			</ul>
		</div>
		<h2 class="hidden-xs" style="display:inline; vertical-align:super;">
			<span class="label label-default" style="display:inline;">{{ counter }} / {{ total }}</span>
		</h2>
	</div>
</div>
{### ACTIVITIES HEAD - End ###}

{### ACTIVITIES LIST ###}
{% if counter  > 0 %}
	<div class="list-group">
		{% for obj in activities %}
		 <a href="{% url 'view_activity' id=obj.id %}" class="list-group-item" style="padding: 6px 12px;">
			<p class="smallfont" style="margin-top:2px; margin-bottom:2px;"> {{ obj.get_type_display }} by {{obj.recruiter}}</p>
			<p style="margin-bottom:2px;"><b>{{obj|truncatechars:78}}</b></p>
			<p style="margin-bottom:0px;">{{obj.notes|truncatewords:20}}</p>
		  </a>
		{% endfor %}
	</div>
{% else %}
	<div class="well well-white" style="margin-bottom: 14px;">
		<p>There are no activities</p>
		<a class="btn btn-primary" href="{% url 'view_activitynew' %}" title="Add new activity to the system">
			<i class="fa fa-plus" aria-hidden="true"></i> Create new activity
		</a>
	</div>
{% endif %}
{### ACTIVITIES LIST - End ###}

{% endblock content %}