{% extends '_base.html' %}
{% block title %}Recruiters{% endblock title %}
{% block content %}

{## RECRUITERS HEAD ##}
<div class="row">
	<div class="col-xs-5">
		<div class="dropdown" style="display:inline;">
			<button style="vertical-align:bottom;" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="glyphicon glyphicon-bullhorn"></i> <b>Recruiters </b> <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			{% if user.member.role < 3 %}
				<li><a href="{% url 'view_recruiternew' %}"><i class="fa fa-briefcase" aria-hidden="true"></i> New Recruiter</a></li>
			{% endif %}
				<li><a href="{% url 'view_recruiters' %}"><i class="fa fa-th-large" aria-hidden="true"></i> See all</a></li>
				{% if not search %}
					<li><a href="{% url 'view_recruiters_rpt' %}"><i class="fa fa-print" aria-hidden="true"></i> Print All</a></li>		
				{% endif %}
			</ul>
		</div>
		<h2 class="hidden-xs" style="display:inline; vertical-align:super;">
			<span class="label label-default" style="display:inline;">{{ counter }}</span>
		</h2>
	</div>
	<div class="col-xs-7">
		<form class="navbar-form pull-right" role="search" action="/qsearch_recruiter/" method="POST" style="display:inline;padding:0px;margin:0px;">
			{% csrf_token %}
			<div class="form-group">
				<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-search" aria-hidden="true"></i>
				</span>
				{% if search %}
					<input value="{{search}}" type="text" class="form-control" name="search" id="id_search" placeholder="Search recruiter"/>
				{% else %}
					<input type="text" class="form-control" name="search" id="id_search" placeholder="Search recruiter"/>
				{% endif %}
				</div>
			</div>
		</form>
	</div>
</div>
{## SKILL HEAD - end ##}

{## RECRUITERS ##}

{% if objs|length  > 0 %}
	<div class="list-group">
		{% for obj in objs %}
		 <a href="{% url 'view_recruiter_profile' id=obj.id %}" class="list-group-item" style="padding: 6px 12px;">
			<p style="margin-bottom:2px;"><b>{{obj|truncatechars:78}}</b></p>
			<p style="margin-top:2px; margin-bottom:0px; line-height:14px;" class="smallfont">
			 {{obj.description|truncatechars:100}}</i>
			</p>
			<p style="margin-top:2px;margin-bottom:0px; line-height:14px;" class="smallfont">
			{% if obj.first_name or obj.last_name %}
				{{obj.first_name|truncatechars:15}} {{obj.last_name|truncatechars:15}} |
			{% endif %}
			{% if obj.email %}
				<b>Email:</b> {{ obj.email }}
			{% endif %}
				| <i class="glyphicon glyphicon-earphone" title="Activities"></i> : {{obj.activities_count}}
			</p>
		  </a>
		{% endfor %}
	</div>
{% else %}
	<div class="well well-white">
		<p>There are no profiles
		{% if search %}
			for <b>"{{search}}"</b>
		{% endif %}
		</p>
		<a class="btn btn-primary" href="{% url 'view_profilenew' %}" title="Create new profile">
			<i class="fa fa-plus" aria-hidden="true"></i> Create new profile
		</a>
	</div>
{% endif %}

{## RECRUITERS - end ##}

{% block focus %}
	<script type="text/javascript">
		document.getElementById('id_search').focus();
	</script>
{% endblock %}

{% endblock content %}