{% extends '_base.html' %}
{% block title %}New Reminder{% endblock title %}
{% block content %}

<h1><i class="fa fa-bell" aria-hidden="true"></i> New Reminder </h1>

<div class="well">
	<form action="." method="POST" class="form-horizontal">
		{% csrf_token %}
		{{ form.non_field_errors }}
		{% if obj %}
			<div class="form-group fieldWrapper">
				<label class="col-sm-2 control-label">{{ model|title }}:</label>
				<div class="col-sm-9">
					<h2 style="margin-top: 10px;margin-bottom: 0px;">
						{{obj}}
					</h2>
				</div>
			</div>
		{% endif %}
		<div class="form-group fieldWrapper">
			<label class="col-sm-2 control-label">Recruiter:</label>
			<div class="col-sm-9">
				<p style="margin-top: 10px;margin-bottom: 0px;font-size: 18px;">
					{{user}}
				</p>
			</div>
		</div>

		<div class="form-group fieldWrapper">
			<label class="col-sm-2 control-label">Date Time:</label>
			<div class="col-sm-9">
				<p style="margin-top:10px; margin-bottom:0px; padding-top:4px; font-size: 18px;">
					{% now "h:iA F d, Y" %}
				</p>
			</div>
		</div>
		
		<div class="form-group fieldWrapper">
			<label for="id_type" class="col-sm-2 control-label">Private?:</label>
			<div class="col-sm-5" style="text-align:bottom;">
				{{ form.private }}
				{{ form.private.errors }}
			</div>
		</div>
		
		<div class="form-group fieldWrapper">
			<label for="id_notes" class="col-sm-2 control-label">Content:</label>
			<div class="col-sm-10">
				{{ form.content }}
				{{ form.content.errors }}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2">
				<button id="save_button" class="btn btn-primary btn-lg">Save</button> 
				{% if obj %}
					<a class="btn btn-primary btn-lg" href="/{{ model }}/{{ id }}">Cancel</a>
				{% else %}
					<a class="btn btn-primary btn-lg" href="{% url 'view_main' %}">Cancel</a>
				{% endif %}
			</div>
		</div>
	</form>
</div>
<br>
<div class="well" style="margin:0px"><!--7-->
<h2 style="text-align:left; margin-top:0px;"><i class="fa fa-bell" aria-hidden="true"></i> Latest Reminders
	<a class="btn btn-primary" title="See All"  href="{% url 'view_reminders' %}">
		<i class="fa fa-th-large" aria-hidden="true"></i>
	</a>
</h2>
{% if counter  > 0 %}
	{% for obj in objs %}
	<div class="well well-white">	
		<a class="btn btn-info" title="Edit"  href="{% url 'view_reminderedit' id=obj.id %}">
			<i class="glyphicon glyphicon-pencil icon-white"></i>
		</a>
		{% if obj.active = True %}
			<a class="btn btn-primary" title="{{obj.datetime}}" href="{% url 'view_reminder' id=obj.id %}">
				{{obj.datetime|date:"M d, H:i"}}
				{% if obj.private = True %}
					(Private)
				{% endif %}
			</a>
		{% else %}
			<a class="btn btn-danger" title="{{obj.datetime}}" href="{% url 'view_reminder' id=obj.id %}">
				{{obj.datetime|date:"M d, H:i"}}
				{% if obj.private = True %}
					(Private)
				{% endif %}
			</a>
		{% endif %}
		<p class="smallfont" style="margin-top:2px; margin-bottom:6px;">by <a href="/recruiter_profile/{{user.id}}/">{{obj.recruiter}}</a>
		  {% if obj.model_name %}
			Related to {{obj.model_name|title}}
		  {% endif %}
		</p>
		<p style="margin-bottom:0px;">{{ obj.content|truncatewords:20 }}</p>
	</div>
	{% endfor %}
{% endif %}
{% if counter  == 0 %}
<div class="well well-white">
	<p style="margin-bottom:10px;">There are no reminders</p>
	<a class="btn btn-primary" href="{% url 'view_remindernew' %}" title="Add new reminder to the system">
		<i class="fa fa-plus" aria-hidden="true"></i> Create new reminder
	</a>
</div>
{% endif %}
</div><!--7!-->


{% endblock content %}