{% extends '_base.html' %}
{% block title %}Skills{% endblock title %}
{% block content %}

{## SKILL HEAD ##}
<div class="row">
	<div class="col-xs-5">
		<div class="dropdown" style="display:inline;">
			<button style="vertical-align:bottom;" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-graduation-cap" aria-hidden="true"></i> <b>Skills</b> <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="{% url 'view_skillnew' %}"><i class="fa fa-plus" aria-hidden="true"></i> New</a></li>
				<li><a href="{% url 'view_skills' %}"><i class="fa fa-th-large" aria-hidden="true"></i> See all</a></li>
				{% if not search %}
					<li><a href="{% url 'view_skills_rpt' %}"><i class="fa fa-print" aria-hidden="true"></i> Print All</a></li>		
				{% endif %}
			</ul>
		</div>
		<h2 class="hidden-xs" style="display:inline; vertical-align:super;">
			<span class="label label-default" style="display:inline;">{{ counter }}</span>
		</h2>
	</div>
	<div class="col-xs-7">
		<form class="navbar-form pull-right" role="search" action="/qsearch_skill/" method="POST" style="display:inline;padding:0px;margin:0px;">
			{% csrf_token %}
			<div class="form-group">
				<div class="input-group">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-search"></i>
				</span>
				{% if search %}
					<input value="{{search}}" type="text" class="form-control" name="search" id="id_search" placeholder="Search skill"/>
				{% else %}
					<input type="text" class="form-control" name="search" id="id_search" placeholder="Search skill"/>
				{% endif %}
				</div>
			</div>
		</form>
	</div>
</div>
{## SKILL HEAD - end ##}

{## SKILLS ##}

{% if paginatorlist.paginator.count > 0 %}
	<div class="list-group">
		{% for obj in paginatorlist.object_list %}
		 <a href="{% url 'view_skill' id=obj.id %}" class="list-group-item" style="padding: 6px 12px;">
			<p style="margin-bottom:2px;"><b>{{obj|truncatechars:78}}</b></p>
			<p style="margin-top:2px; margin-bottom:0px; line-height:14px;" class="smallfont">
			 {{obj.description|truncatechars:100}}</i>
			</p>
			<p style="margin-top:2px;margin-bottom:0px; line-height:14px;" class="smallfont">
				<i class="glyphicon glyphicon-education" title="Profiles"></i> : {{obj.profiles_count}} |
				<i class="glyphicon glyphicon-briefcase" title="Openings"></i> : {{obj.openings_count}}
			</p>
		  </a>
		{% endfor %}
		{% if paginatorlist.paginator.count > 29 %}
		<div class="row" style="margin:0px;">
			<div class="col-xs-2" style="padding:1px;">
				{% if paginatorlist.has_previous %}
					<a class="btn btn-default btn-block" href="/skills/1/">
				{% else %}
					<a class="btn btn-default btn-block disabled">
				{% endif %}
				<span class="glyphicon glyphicon-fast-backward"></span></a>
			</div>
			<div class="col-xs-2" style="padding:1px;">
				{% if paginatorlist.has_previous %}
					<a class="btn btn-default btn-block" href="/skills/{{paginatorlist.previous_page_number}}">
				{% else %}
					<a class="btn btn-default btn-block disabled">
				{% endif %}
				<span class="glyphicon glyphicon-step-backward"></span></a>
			</div>
				<div class="col-xs-4" style="padding:1px;">
					<a class="btn btn-default btn-block disabled">Page {{paginatorlist.number}} of {{paginatorlist.paginator.num_pages}}</a>
				</div>
			<div class="col-xs-2" style="padding:1px;">
				{% if paginatorlist.has_next %}
					<a class="btn btn-default btn-block" href="/skills/{{paginatorlist.next_page_number}}">
				{% else %}
					<a class="btn btn-default btn-block disabled">
				{% endif %}
				<span class="glyphicon glyphicon-step-forward"></span></a>
			</div>
			<div class="col-xs-2" style="padding:1px;">
				{% if paginatorlist.has_next %}
					<a class="btn btn-default btn-block" href="/skills/{{paginatorlist.paginator.num_pages}}">
				{% else %}
					<a class="btn btn-default btn-block disabled">
				{% endif %}
				<span class="glyphicon glyphicon-fast-forward"></span></a>
			</div>
		</div>
		{% endif %}
	</div>
{% else %}
	<div class="well well-white">
		<p>There are no skills
		{% if search %}
			for <b>"{{search}}"</b>
		{% endif %}
		</p>
		<a class="btn btn-primary" href="{% url 'view_skillnew' %}" title="Create new skill">
			<i class="fa fa-plus" aria-hidden="true"></i> Create new skill
		</a>
	</div>
{% endif %}



{## SKILLS - end ##}

{% block focus %}
	<script type="text/javascript">
		document.getElementById('id_search').focus();
	</script>
{% endblock %}

{% endblock content %}