{% extends '_site_base.html' %}
{% load static %}
{% block extra-head %}
	<!-- stylesheets -->
	
	<!--<link href="{% static 'dist/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >-->
	<link href="{% static 'css/desktop.css' %}" rel="stylesheet" >
	
	<!-- <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>-->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
      body {
        background-color:#F4F8FB;
		padding-top:60px;
		margin-bottom: 60px;
		/*padding-bottom:60px;*/
		/*background-color:#F4F8FB;*/
      }
    </style>
{% endblock extra-head %}
{% block title %}Prosoft's TMS | Password reset successful{% endblock %}
{% block content %}
<div class="container">
<div style="text-align:center;">
<img src="{{ MEDIA_URL }}/media/images/prosoft_128.png">
<h1 style="text-align:center;">Prosoft Talent Management System</h1>
</div>
<br>

<div class="row">
<div class="col-sm-2">
</div>
<div class="col-sm-8">
<h2 style="text-align:center;">Password changing compleated</h2>
<div class="well">
<br>
  <p>
    Your password has been set. You may go ahead and sign in now.
  </p>
  <a href="{% url 'view_login' %}" class="btn btn-primary btn-lg">sign in</a>

</div>
</div>
<div class="col-sm-2">
</div>
</div>
</div>
{% endblock %}