{% extends '_site_base.html' %}
{% load static %}
{% block extra-head %}
	<!-- stylesheets -->
	
	<!--<link href="{% static 'dist/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >-->
	<link href="{% static 'css/desktop.css' %}" rel="stylesheet" >
	
	<!-- <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>-->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
      body {
        background-color:#F4F8FB;
		padding-top:60px;
		margin-bottom: 60px;
		/*padding-bottom:60px;*/
		/*background-color:#F4F8FB;*/
      }
    </style>
{% endblock extra-head %}
{% block title %}Prosoft's TMS | Reset Password{% endblock %}
{% block content %}
<div class="container">
<div style="text-align:center;">
<img src="{{ MEDIA_URL }}/media/images/prosoft_128.png">
<h1 style="text-align:center;">Prosoft Talent Management System</h1>
</div>
<br>

<div class="row">
<div class="col-sm-2">
</div>
<div class="col-sm-8">
<h2 style="text-align:center;">Reset password</h2>
<div class="well">
<br>
<p>Please specify your email address to receive instructions for resetting it.</p>
<br>
<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>

		<div class="form-group fieldWrapper">
		<label for="id_email" class="col-sm-4 control-label">E-mail address:</label>
		<div class="col-sm-5">
			{{ form.email }}
			{{ form.email.errors }}
		</div>
		<br><br><br>
		<input type="submit" value="Reset password" class="btn btn-primary btn-lg" />
		<a class="btn btn-primary btn-lg" href="{% url 'view_login' %}">Login</a>
		</div>
		
</form>

</div>
</div>
<div class="col-sm-2">
</div>
</div>
</div>
{% block focus %}
	<script type="text/javascript">
		document.getElementById('id_email').focus();
	</script>
{% endblock %}
{% endblock %}