{% extends '_site_base.html' %}
{% load static %}
{% block extra-head %}
	<!-- stylesheets -->
	
	<!--<link href="{% static 'dist/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >-->
	<link href="{% static 'css/desktop.css' %}" rel="stylesheet" >
	
	<!-- <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>-->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
      body {
        background-color:#F4F8FB;
		padding-top:60px;
		margin-bottom: 60px;
		/*padding-bottom:60px;*/
		/*background-color:#F4F8FB;*/
      }
    </style>
{% endblock extra-head %}
{% block title %}Prosoft's TMS | Reset Password{% endblock %}
{% block content %}
<div class="container">
<div style="text-align:center;">
<img src="{{ MEDIA_URL }}/media/images/prosoft_128.png">
<h1 style="text-align:center;">Prosoft Talent Management System</h1>
</div>
<br>

<div class="row">
<div class="col-sm-2">
</div>
<div class="col-sm-8">
<h2 style="text-align:center;">Change password</h2>
<div class="well">
<br>
{% if validlink %}
	<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

	<form action="" method="post">
		<div style="display:none">
			<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
		</div>

			<div class="form-group fieldWrapper">
			{{ form.as_p }}
			<input type="submit" value="Change password" class="btn btn-primary btn-lg" />
			<a class="btn btn-primary btn-lg" href="{% url 'view_login' %}">Login</a>
			</div>

	</form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
	<a href="{% url 'password_reset' %}" class="btn btn-primary btn-lg">Reset password</a>
	<a class="btn btn-primary btn-lg" href="{% url 'view_login' %}">Login</a>
  {% endif %}
</div>
</div>
<div class="col-sm-2">
</div>
</div>
</div>
{% block focus %}
	<script type="text/javascript">
		document.getElementById('id_username').focus();
	</script>
{% endblock %}
{% endblock %}